# Python virtual environments
.venv/
.venv310/
venv/
ENV/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Flask stuff
instance/
.webassets-cache
*.db
*.sqlite
*.sqlite3

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logging
*.log
logs/

# Environment variables
.env
.flaskenv

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.ipynb_checkpoints

# Project specific
# Add any project-specific files you want to ignore here 